<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>APP-1</title>
</head>

<body>
  <h1>
    Résultat de l'API Wikidata pour {{code}}
  </h1>
  <h2>
    Informations sur la requête
  </h2>
  <p>
    Code HTTP :{{reponse.status_code}}
  </p>  
  <p>
    Type de contenu : {{reponse.headers['Content-Type']}}
  </p>
{% if 'entities' in reponse.json() %}
    <p>
        Données reçues
    </p>
    <p>
        {{reponse.json()}}
  </p>
 
{%else%}
<p>
    Aucune donnée valide n'a été retournée pour l'identifiant "{{code}}"
</p>
{% endif %}
</body>

</html>
